* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: space-between;
}

.right-container,
.left-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 135, 226, .7);
  color: #FFF;
  font-size: 20px;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 15%;
  margin-right: 0;
}

.human-icon,
.computer-icon {
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.human-label,
.computer-label {
  font-size: 30px;
  margin-top: 0px;
}

aside {
  margin-top: 30px;
}

.game-container {
  background-color: rgb(168, 31, 168, .6);
  text-align: center;
  width: 70%;
  color: #FFF;
  font-weight: bolder;
}

.header {
  font-size: 75px;
  margin-bottom: 20px;
}

.choose-your-game {
  font-size: 30px;
  margin-top: 5px;
  font-weight: lighter;
}

.game-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.classic-game-btn,
.difficult-game-btn {
  color: #FFF;
  font-size: 18px;
  background-color: rgb(168, 31, 168, .3);
  border: none;
  width: 250px;
  height: 200px;
  margin-top: 10px;
}

.classic-game-btn:hover,
.difficult-game-btn:hover {
  color: rgb(168, 31, 168);
  background-color: #FFF;
  transition: 0.4s;
  cursor: pointer;
}

.difficult-game-btn {
  margin-top: 40px;
}

.game-text {
  margin: 3px;
}

.fighter-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.rock-selection,
.paper-selection,
.scissors-selection,
.lizard-selection,
.alien-selection {
  background: none;
  border: none;
  background-size: 100%;
  height: 100px;
  width: 100px;
}

.rock-selection {
  background-image: url('./assets/happy-rocks.png');
}

.paper-selection {
  background-image: url('./assets/happy-paper.png');
}

.scissors-selection {
  background-image: url('./assets/scissors-copy.png');
}

.lizard-selection {
  background-image: url('./assets/lizard.png');
}

.alien-selection {
  background-image: url('./assets/happy-alien.png');
}

.winner-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.display-human-selection,
.display-computer-selection {
  height: 70%;
}

.hidden {
  display: none;
}